{% extends "base.html" %}

{% block sub-title %}Airport Data Explorer | {% endblock %}

{% block style %}
#controls { line-height: 3em; text-align: center; }
#results { border: solid 1px #DDD; min-height: 400px; width: 450px; padding-top: 10px; }
#info-column { float: right; width: 340px;  }
#info-column p { padding-top: 10px; border: solid 1px #DDD; }
#xpath-examples {  border: solid 1px #DDD; margin-top: 0px; padding-top: 10px; }
#xpath-examples li { list-style-type: none; margin-left: 5px; }
#xpath-examples code, #info-column p code { display: block; margin: 10px 0px; }
{% endblock %}

{% block sub-head %}
<script type="text/javascript">

var latestURL = "{% url airport.views.latest_snapshot %}"

function pageInit(){
	updateResults();
}
$(document).ready(function() { pageInit(); });

function handleNewResults(xml){
	$("#results").html('<pre>' + $('<div/>').text(xml).html() + '</pre>');
}

function updateResults(xpath){
	console.log('xpath: ' + xpath);
	var params = { };
	if(xpath){ params['xpath'] =  xpath; }
	$.get(latestURL, params, handleNewResults, 'text');
}

</script>
{% endblock %}


{% block content%}
<h1>Airport Data Explorer:</h1>

<div id="controls">
	<form id="control-form" action="." method="get" onsubmit="updateResults($('#control-input').val()); return false;">
		<label>Enter an XPath:</label><input type="text" id="control-input" name="control-input" /> <input type="submit" value="filter" />
	</form>
</div>

<div id="info-column">
	<h3>What's going on here?</h3>
	<p>This page shows you the latest airport data snapshot.  This information is gathered from the airport's flight information database and presented in XML format for your use.  You can find information about the application programmatic interface (API) on the <a href="http://174.129.3.149/wiki/AirportDataAPI/">AirportDataAPI wiki page</a>.</p>
	<p>You can also see the <a href="{% url airport.views.fid %}">current snapshot as a table</a>.</p>
	
	<h3>Example XPaths:</h3>
	<ul id="xpath-examples">
		<li>
			Select all flights from Southwest Airlines (carrier "WN"):
			<code class="xpath-example">//FlightLeg[.//Carrier='WN']</code>
		</li>
		<li>
			Select flight 3479 from Southwest Airlines:
			<code class="xpath-example">//FlightLeg[.//Carrier='WN' and .//FlightNumber=3479]</code>
		</li>
		<li>
			Select all flights through Albuquerque:
			<code class="xpath-example">//FlightLeg[.//Airport="ABQ"]</code>
		</li>
	</ul>
	
	<h3>Note:</h3>
	<p>You will need to URL encode your XPath parameters.<br/>
		For example:<br />
		<code class="xpath-example">//FlightLeg[.//Carrier='WN' and .//FlightNumber=3479]</code> turns into <code class="xpath-example">//FlightLeg[.//Carrier='WN'%20and%20.//FlightNumber=3479]</code>
</div>

<h3>Latest Snapshot:</h3>
<div id="results">
</div>

{% endblock %}

/* Copyright 2009 GORBET + BANERJEE (http://www.gorbetbanerjee.com/) Licensed under the Apache License, Version 2.0 (the "License"); you may not use this file except in compliance with the License. You may obtain a copy of the License at http://www.apache.org/licenses/LICENSE-2.0 Unless required by applicable law or agreed to in writing, software distributed under the License is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied. See the License for the specific language governing permissions and limitations under the License. */