{% extends "base.html" %}

{% block sub-title %}Airport Flight Information Display | {% endblock %}

{% block style %}
#content table { width: 100%; }
#content th { text-align: left; font-weight: bold; }
#content td { padding-top: 4px; padding-bottom: 4px; }
.past { color: #777; }
.target-claim { border: solid 1px #F88; }
{% endblock %}

{% block sub-head %}
<script type="text/javascript">
</script>
{% endblock %}


{% block content%}
<h1>Airport Flight Information Display:</h1>

<table>
	<tr><th>Origin:</th><th>Carrier:</th><th>Flight:</th><th>Scheduled Time:</th><th>Estimated Time:</th><th>Comment:</th><th>Stand:</th><th>Bag Claim:</th></tr>
{% for leg in snap.flight_legs reversed %}
	<tr class="{% cycle 'even-row' 'odd-row' %}{% if not leg.upcoming %} past{% endif %}{% ifequal leg.bag_claim_name 'B2' %} target-claim{% endifequal %}">
		<td>{{ leg.origin_destination_airport_code }}</td>
		<td>{{ leg.carrier}}</td>
		<td>{{ leg.flight_number }}</td>
		<td>{{ leg.scheduled_date_time }}</td>
		<td>{% firstof leg.estimated %}</td>
		<td>{% firstof leg.public_comment %}</td>
		<td>{{ leg.stand }}</td>
		<td>{% firstof leg.bag_claim_name %} - {% firstof leg.bag_claim_status %}</td>
	</tr>
{% endfor %}
	
</table>

{% endblock %}

/* Copyright 2010 GORBET + BANERJEE (http://www.gorbetbanerjee.com/) Licensed under the Apache License, Version 2.0 (the "License"); you may not use this file except in compliance with the License. You may obtain a copy of the License at http://www.apache.org/licenses/LICENSE-2.0 Unless required by applicable law or agreed to in writing, software distributed under the License is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied. See the License for the specific language governing permissions and limitations under the License. */
