
ADMINS = ( ('Your Name', 'you@example.com'), )
MANAGERS = ADMINS

LOGGING_NAME = '/tmp/art-server.log'

BACNET_BIN_DIR = '/usr/local/src/bacnet-stack-0.5.3/bin'
BACNET_EXECUTABLE_EXTENSION = '' # empty for unix, .exe for windows

IBOOT_USERNAME='user'
IBOOT_PASSWORD='pass'
IBOOT_POWER_PASSWORD = 'pass'

SECRET_KEY = 'somesecretstring'

from artcam.tasks import ArtcamTask
from airport.tasks import FileMungerTask
from iboot.tasks import IBootEventTask
from lighting.tasks import ProjectorEventTask
SCHEDULED_TASKS = [FileMungerTask(), ArtcamTask(), IBootEventTask(), ProjectorEventTask()]

ARTCAM_PUBLIC_USERNAME = 'user'
ARTCAM_PUBLIC_PASSWORD = 'pass'

ALERT_SECRET = 'some secret stored in an Alert Permission object on the art cloud'
ALERT_API_URL = 'http://art cloud host here/api/alert/'

AWS_ACCESS_KEY = 'access key'
AWS_SECRET_KEY = 'secret key'
BACKUP_S3_BUCKET = 'unique_bucket_name'

PRODUCTION = True
DEBUG = False
TEMPLATE_DEBUG = DEBUG

#CACHE_BACKEND = 'dummy:///'
CACHE_BACKEND = 'locmem:///'

DATABASE_ENGINE = 'postgresql_psycopg2' 
DATABASE_NAME = 'artserver'
DATABASE_USER = 'postgres'
DATABASE_PASSWORD = 'pass'
DATABASE_HOST = ''
DATABASE_PORT = ''

import logging
logging.basicConfig(level=logging.DEBUG, format='%(asctime)s %(levelname)s %(message)s', filename=LOGGING_NAME, filemode = 'w')
